{% extends 'seller/base.html' %}

{% block content %}
    <div id="page-wrapper">
        <div class="main-page">
            <div class="tables">
                <div class="bs-example widget-shadow" data-example-id="bordered-table"> 
                    <h4>Bordered Basic Table:</h4>
                    <table class="table table-bordered"> 
                        <thead> 
                            <tr> 
                                <th>Name</th>
                            </tr> 
                        </thead> 
                        <tbody> 
                            {% for product_category in product_categories %}
                                <tr> 
                                    <td>{{product_category.name}}</td>
                                </tr>
                            {% endfor %} 
                        </tbody> 
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
