{% extends "base.html" %}
{% load static %}

{% block banner %}
    <!-- banner -->
    <div class="banner_inner">
        <div class="services-breadcrumb">
            <div class="inner_breadcrumb">

                <ul class="short">
                    <li>
                        <a href="{% url 'index' %}">Home</a>
                        <i>|</i>
                    </li>
                    <li>Checkout </li>
                </ul>
            </div>
        </div>

    </div>
    <!--//banner -->
{% endblock banner %}

{% block content %}
    <!--checkout-->
	<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
		<div class="container">
			<div class="inner-sec-shop px-lg-4 px-3">
				<h3 class="tittle-w3layouts my-lg-4 mt-3">Checkout </h3>
				<div class="checkout-right">
					<h4>Your shopping cart contains:
						<span>{{cart.__len__}} Products</span>
					</h4>
					<table class="timetable_sub">
						<thead>
							<tr>
								<th>SL No.</th>
								<th>Product</th>
								<th>Quantity</th>
								<th>Product Name</th>
								<th>Price</th>
								<th>Remove</th>
							</tr>
						</thead>
						<tbody>
							{% for cart_item in cart %}
								<tr class="rem1">
									<td class="invert">1</td>
									<td class="invert">
										<a href="{% url 'single' %}">
											{% if cart_item.product.images.0 %}
                                                <img src="{{cart_item.product.images.0.image.url}}" height="120" width="120" alt=" " class="img-responsive">
                                            {% else %}
                                                <img src="{% static 'images/no-image.jpg' %}" height="120" width="120" alt=" " class="img-responsive">
                                            {% endif %}
										</a>
									</td>
									<td class="invert">
										<div class="quantity">
											<div class="quantity-select">
												<div class="entry value-minus">&nbsp;</div>
												<div class="entry value">
													<span>{{cart_item.quantity}}</span>
												</div>
												<div class="entry value-plus active">&nbsp;</div>
											</div>
										</div>
									</td>
									<td class="invert">{{cart_item.product.title}} </td>

									<td class="invert">${{cart_item.totalPrice}}</td>
									<td class="invert">
										<div class="rem">
											<div class="close1"> </div>
										</div>

									</td>
								</tr>
							{% endfor %}
							
							
						</tbody>
					</table>
				</div>
				<div class="checkout-left row">
					<div class="col-md-4 checkout-left-basket">
						<h4>Continue to basket</h4>
						<ul>
							{% for cart_item in cart %}
								<li>{{cart_item.product.title}}
									<i>-</i>
									<span>${{cart_item.totalPrice}} </span>
								</li>
							{% endfor %}
							
						</ul>
					</div>
					<div class="col-md-8 address_form">
						<h4>Add a new Details</h4>
						<form action="{% url 'payment' %}" method="post" class="creditly-card-form agileinfo_form">
							{% csrf_token %}
							<section class="creditly-wrapper wrapper">
								<div class="information-wrapper">
									<div class="first-row form-group">
										<div class="controls">
											<label class="control-label">Full name: </label>
											<input class="billing-address-name form-control" type="text" name="name" placeholder="Full name">
										</div>
										<div class="card_number_grids">
											<div class="card_number_grid_left">
												<div class="controls">
													<label class="control-label">Mobile number:</label>
													<input class="form-control" type="text" placeholder="Mobile number">
												</div>
											</div>
											<div class="card_number_grid_right">
												<div class="controls">
													<label class="control-label">Landmark: </label>
													<input class="form-control" type="text" placeholder="Landmark">
												</div>
											</div>
											<div class="clear"> </div>
										</div>
										<div class="controls">
											<label class="control-label">Town/City: </label>
											<input class="form-control" type="text" placeholder="Town/City">
										</div>
										<div class="controls">
											<label class="control-label">Address type: </label>
											<select class="form-control option-w3ls">
												<option>Office</option>
												<option>Home</option>
												<option>Commercial</option>

											</select>
										</div>
									</div>
									<button class="submit check_out">Delivery to this Address</button>
								</div>
							</section>
						</form>
						<div class="checkout-right-basket">
							<a href="{% url 'payment' %}">Make a Payment </a>
						</div>
					</div>

					<div class="clearfix"> </div>

				</div>

			</div>

		</div>
	</section>
	<!--//checkout-->
{% endblock content %}